@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "takane-ichinose/message-box.scss";

$white: #fff;
$black: #000;
$link-color: #da0050;

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: currentColor;
}

#hero h2 {
  font-family: 'Lato', sans-serif;
}

.hero-el-category {
  margin-bottom: 0.3rem;
  a {
    padding: 5px 8px 4px;
    background-color: #612a46;
    color: #f8f8f6;
    transition: background-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem !important;
  }
  a:hover {
    background-color: #da0050;
  }
}

.hero-el-title {
  font-size: .9em;
  margin-bottom: 0.3rem;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: darken($link-color, 10%);
  }
}

.hero-el-author {
  color: $link-color;
  text-decoration: none;
}

.hero-el-author:hover {
  color: darken($link-color, 10%);
  text-decoration: none;
}

.relative {
  position: relative;
}

@media (max-width: 575px) {
  .hero-el {
    border-top: 1px solid #ccc;
  }
  #hero-el-1 {
    border-top: 0;
    .hero-el-image-wrapper {
      width: 40%;
    }
    .hero-el-body {
      width: 60%;
      padding: 0 8px;
    }
  }
  
  .hero-el-image-wrapper {
    width: 30%;
  }
  .hero-el-body {
    width: 70%;
    padding: 0 8px;
  }
  .hero-w-xsm-30 {
    width: calc((100vw - 0.25rem) * 0.5);
  }
}

@media (min-width: 576px) {
  .hero-el-title {
    font-size: 1.1em;
  }
  #hero-el-1 {
    max-height: 350px;
    overflow: hidden;
    .hero-el-body {
      position: absolute;
      bottom: 0;
      z-index: 3;
      padding: 16px;
      .hero-el-title {
        a {
          background-color: $black;
          font-size: 1.5em;
          text-transform: uppercase;
          color: $white;
        }
        a:hover {
          color: darken($white, 10%);
        }
      }
      .hero-el-byline {
        color: $white;
        span {
          background-color: $black;
        }
      }
    }
  }
  
  #hero-el-2 .hero-el-body,
  #hero-el-3 .hero-el-body,
  #hero-el-7 .hero-el-body,
  #hero-el-8 .hero-el-body {
    padding: 16px;
    .hero-el-category {
      position: absolute;
      top: -13px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hero-w-sm-50 {
    width: calc((100vw - 0.25rem) * 0.5);
  }
  #hero-el-4 .hero-el-body {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 16px;
    .hero-el-title {
      a {
        background-color: $black;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $white;
      }
      a:hover {
        color: darken($white, 10%);
      }
    }
    .hero-el-byline {
      color: $white;
      span {
        background-color: $black;
      }
    }
  }
  #hero-el-5 .hero-el-body,
  #hero-el-6 .hero-el-body {
    padding: 16px;
    .hero-el-category {
      position: absolute;
      top: -13px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-w-md-33 {
    width: calc((100vw - 0.5rem) / 3);
  }
  #hero-el-5 {
    max-height: 350px;
    overflow: hidden;
    .hero-el-body {
      position: absolute;
      bottom: 0;
      z-index: 3;
      padding: 16px;
      .hero-el-title {
        a {
          background-color: $black;
          font-size: 1.5em;
          text-transform: uppercase;
          color: $white;
        }
        a:hover {
          color: darken($white, 10%);
        }
      }
      .hero-el-byline {
        color: $white;
        span {
          background-color: $black;
        }
      }
    }
  }
  
  #hero-el-4 .hero-el-body,
  #hero-el-6 .hero-el-body {
    padding: 16px;
    .hero-el-category {
      position: absolute;
      top: -13px;
    }
  }
}

@media (min-width: 992px) {
  .hero-w-lg-25-1 {
    width: calc((100vw - 0.25rem) * 0.25);
  }

  .hero-w-lg-25-2 {
    width: calc((100vw - 0.5rem) * 0.25);
  }

  .hero-w-lg-50 {
    width: calc((100vw - 0.5rem) * 0.50);
  }

  .hero-w-lg-75 {
    width: calc((100vw - 0.25rem) * 0.75);
  }

  #hero-el-4 .hero-el-body,
  #hero-el-6 .hero-el-body {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 16px;
    .hero-el-title {
      a {
        background-color: $black;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $white;
      }
      a:hover {
        color: darken($white, 10%);
      }
    }
    .hero-el-byline {
      color: $white;
      span {
        background-color: $black;
      }
    }
  }
  #hero-el-5 .hero-el-body {
    padding: 16px;
    .hero-el-category {
      position: absolute;
      top: -13px;
    }
  }
}

