// "Message Box" made by Takane Ichinose
// - https://codepen.io/takaneichinose
// - https://github.com/takaneichinose
// - https://twitter.com/takane_ichi

$msgbox-area-width-l: 480px;

$msgbox-area-y-pos: 15px;
$msgbox-area-x-s: 20px;
$msgbox-area-x-m: 80px;
$msgbox-area-x-l: 15px;

$msgbox-box-color: #ffffff;
$msgbox-box-background-color: rgba(#000000, 0.8);
$msgbox-box-padding: 18px 20px;
$msgbox-box-margin: 15px;
$msgbox-box-border-radius: 12px;
$msgbox-box-box-shadow: 0 10px 15px rgba(#000000, 0.65);
$msgbox-box-transition-time: 300ms;

$msgbox-close-color: #ffffff;
$msgbox-close-margin: 20px;
$msgbox-close-transition-time: 225ms;

$msgbox-close-hover-text-shadow: 0 0 3px #efefef;

.msgbox-area {
  font-size: 16px;
  max-height: 100%;
  position: fixed;
  bottom: $msgbox-area-y-pos;
  left: $msgbox-area-x-s;
  right: $msgbox-area-x-s;
  .msgbox-box {
    font-size: inherit;
    color: $msgbox-box-color;
    background-color: $msgbox-box-background-color;
    padding: $msgbox-box-padding;
    margin: 0 0 $msgbox-box-margin;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: $msgbox-box-border-radius;
    box-shadow: $msgbox-box-box-shadow;
    transition: opacity $msgbox-box-transition-time ease-in;
    &.msgbox-box-hide {
      opacity: 0;
    }
    &:last-child {
      margin: 0;
    }
  }
  .msgbox-content {
    flex-shrink: 1;
  } 
  .msgbox-close {
    color: $msgbox-close-color;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 $msgbox-close-margin;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: text-shadow $msgbox-close-transition-time ease-out;
    &:hover {
      text-shadow: $msgbox-close-hover-text-shadow;
    }
  }
}

@media (min-width: 992px) {
  .msgbox-area {
    max-width: 480px;
    height: 0;
    top: $msgbox-area-y-pos;
    left: auto;
    right: $msgbox-area-x-l;
  }
}
